.forgetPasswordScreen form .form-group {
  position: relative;
}

.forgetPasswordScreen form .form-group svg {
  position: absolute;
  top: 42px;
  right: 10px;
}
.forgetPasswordScreen form .form-group button {
  position: absolute;
  top: 21px;
  right: 6px;
}
