.footer {
  background-color: #1b1b1b;
  width: 100%;
  padding: 70px 0;
}
.footerDescription {
  width: 70%;
}
.footer .container-85 .row div.col-xl-4 .linksContainer ul li {
  margin-bottom: 0.5rem;
}
.linksContainer {
  width: 80%;
  margin: 0 auto !important;
}
.linksContainer h5 {
  font-size: 22px;
}

.linksContainer2 {
  padding-left: 5rem;
}

@media screen and (max-width: 992px) {
  .linksContainer {
    width: 100%;
    margin: 0;
    margin-bottom: 50px !important;
  }
  .linksContainer2 {
    padding-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .footer .container-85 .row div.col-xl-4 .linksContainer h5 {
    font-size: 16px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer p {
    font-size: 12px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer {
    margin-bottom: 10px !important;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer ul li {
    margin: 0;
    font-size: 12px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer ul li a {
    font-size: 12px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer ul li img {
    width: 22px;
    height: 22px;
  }
}
