.footer {
  position: relative;
  background-color: #1b1b1b;
  width: 100%;
  padding: 70px 0;
}
.footer button {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: 7%;
  box-shadow: 0px 3px 25px #00000029;
}

.footer .container-85 .row div.col-xl-4 .linksContainer ul li {
  margin-bottom: 0.5rem;
}
.linksContainer {
  width: 80%;
  margin: 0 auto 0 0 !important;
}
.linksContainer h5 {
  font-size: 22px;
}

.linksContainer2 {
  padding-left: 5rem;
}
.footer .row .linksContainer2 .followUsWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer .row .linksContainer2 .followUsWrapper a svg {
  margin-right: 10px;
}
@media screen and (max-width: 992px) {
  .linksContainer {
    width: 100%;
    margin: 0;
    margin-bottom: 50px !important;
  }
  .linksContainer2 {
    padding-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .footer .container-85 .row div.col-xl-4 .linksContainer h5 {
    font-size: 16px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer p {
    font-size: 12px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer {
    margin-bottom: 10px !important;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer ul li {
    margin: 0;
    font-size: 12px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer ul li a {
    font-size: 12px;
  }
  .footer .container-85 .row div.col-xl-4 .linksContainer ul li img {
    width: 22px;
    height: 22px;
  }
}
