.modal-dialog {
  margin: 5.75rem auto !important;
  margin-left: 420px !important;
}
.modal-dialog .modal-content {
  width: 900px !important;
  border: none !important;
  border-radius: 20px !important;
  padding: 20px !important;
}
.modal-dialog .modal-content .modal-header {
  border-bottom: none !important;
}
.modal-dialog .modal-content .modal-body {
  padding-top: 0 !important;
}

.modal-body form .form-row .form-group .form-label {
  font-size: 15px !important;
  font-size: 'UbuntuRegular';
}

.modal-dialog .modal-content .modal-body form button {
  border: none;
  outline: none;
  padding: 10px 40px;
  color: white;
  background-color: var(--orange);
  border-radius: 6px;
}
.modal-dialog .modal-content .modal-body form button.cancle {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 40px;
  color: var(--orange);
  border-radius: 6px;
  /* border: 1px solid var(--orange); */
}

.modal-dialog .modal-content .modal-footer {
  border-top: none !important;
}
