#message p {
  /* color: red; */
  opacity: 0.5;
  transition: 0.3s;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#message p .crossIcon {
  opacity: 0;
  /* color: red; */
}
#message p .tickIcon {
  opacity: 1;
  /* color: green; */
}
#message p .icon {
  position: absolute;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 30px;
  font-size: large;
}
#message p span {
  margin-left: 30px;
}
